langchain-scrapegraph
langchain-google-genai
langchain-openai
python-dotenv
ipykernel
langchain
langchain-core 
langgraph
langchain
ipykernel
python-dotenv
langchain-text-splitters
langchain-openai
langchain-chroma
bs4
langchain-community
langchain-tavily
langchain-mcp-adapters
mcp
fastapi
mcp-use
scrapegraphai
scrapegraph-py
davia 
langgraph-api==0.0.38
mcp-use
openai
streamlit
playwright